.picture-main {
  margin-left: 40%;
}
.recipe-detail{
    background-color: rgb(114, 247, 5);
}
.pdf-mode {
  background: white !important;
  color: black !important;
}

.pdf-mode h1,
.pdf-mode h2,
.pdf-mode li,
.pdf-mode p {
  color: black !important;
}



@media (max-width:450px){
  .picture-main {
  margin-left: 10%;
}

.ingredients, .steps , .time{
  margin-left: 10px;
  width: 100%;
}
}

@media (max-width:600px) and (min-width:450px){
  .picture-main {
  margin-left:20%;
}
.ingredients, .steps , .time{
  margin-left: 10px;
  width: 100%;
}

}

@media (max-width:800px) and (min-width:600px){
  .picture-main {
  margin-left: 30%;
}

.ingredients, .steps , .time{
  margin-left: 10px;
  width: 100%;
}

}