.Link-options {
  margin-bottom: 0px;
}
.Link-options a {
  text-decoration: none;
  font-size: 1rem;
  color: #36f107;
   background-color: #0d4300;
  padding: 5px;
  border-radius: 10px;
}
.Link-options button {
  color: #36f107;
    background-color: #0d4300;
  border-radius: 10px;
  padding: 5px;
  border: none;
  transition: 0.5s;
}

.Link-options a:hover,
.Link-options button:hover {
  background-color: #fbfbfb;
}
#logo-pdf {
  padding-left: 5px;
  display: inline-block;
  transition: transform 0.3s ease;
}

#logo-pdf:hover {
  transform: scale(1.1);
}
