.container-box {
  background-image: url("/Site-Recipes/img/logo-second.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

#text-main {
  font-size: 6rem;
  color: rgb(255, 251, 251);
  font-weight: bold;
  text-align: center;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
}

.subtitle {
  font-size: 1.5rem;
  color: #fcba02;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.4);
  width: fit-content;
  border-radius: 10px;
  padding: 5px 12px;
  margin: 10px auto;
  text-align: center;
}

.actions {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

@media (max-width: 450px) {
  #text-main {
    font-size: 2rem;
    padding-top: 5%;
  }
  .subtitle {
    font-size: 1rem;

    margin-top: 10px;
    margin-left: 0%;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(249, 242, 242, 0.8);
    background: rgba(31, 30, 30, 0.4);
  }

  .actions {
    margin-left: 0%;
  }
}

@media (max-width: 600px) and (min-width: 450px) {
  #text-main {
    font-size: 3rem;
    padding-top: 5%;
  }
  .subtitle {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    margin-left: 0%;

    text-shadow: 2px 2px 8px rgba(249, 242, 242, 0.8);
    background: rgba(31, 30, 30, 0.4);
  }

  .actions {
    margin-left: 0%;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  #text-main {
    font-size: 3rem;
    padding-top: 5%;
  }
  .subtitle {
    font-size: 1rem;

    margin-top: 10px;
    margin-left: 15%;
text-align: center;
    text-shadow: 2px 2px 8px rgba(249, 242, 242, 0.8);
    background: rgba(31, 30, 30, 0.4);
  }

  .actions {
    margin-left: 0%;
  }
}
